<center> <img src="https://yildirimcaglar.github.io/ds3000/ds3000.png"> </center>

<center> <h2> Data Wrangling Cont'd </h2></center>

## Outline
1. <a href='#1'>Multilevel/Hierarchical Indexing</a>
2. <a href='#2'>Working with Missing Values in DataFrames</a>
3. <a href='#3'>Working with Duplicates</a>
4. <a href='#4'>Replacing Values</a>
5. <a href='#5'>Renaming Axis Indices</a>

<a id="1"></a>

## 1. Multilevel/Hierarchical Indexing
* Can index dataframes using two columns as indices
* Use the **set_index** method and pass in a **list of column names**

In [1]:
import pandas as pd

In [2]:
#need to have saved the output from the previous Notebook as a csv file
df = pd.read_csv("res/ave_grades.csv")

In [3]:
df

              Student       House  Potion_Ave  Charm_Ave
0    Hermione Granger  Gryffindor       100.0      100.0
1   Anthony Goldstein   Ravenclaw        89.0       87.0
2        Harry Potter  Gryffindor        88.0       90.0
3         Lisa Turpin   Ravenclaw        86.5       84.0
4      Michael Corner   Ravenclaw        85.5       86.5
5        Draco Malfoy   Slytherin        84.5       81.0
6         Susan Bones  Hufflepuff        84.0       83.5
7         Ron Weasley  Gryffindor        83.0       87.5
8       Hannah Abbott  Hufflepuff        80.5       84.5
9     Ernie Macmillan  Hufflepuff        77.5       85.0
10      Gregory Goyle   Slytherin        66.5       59.5
11     Vincent Crabbe   Slytherin        64.0       60.0

In [4]:
df = df.set_index("Student")

In [5]:
df

                        House  Potion_Ave  Charm_Ave
Student
Hermione Granger   Gryffindor       100.0      100.0
Anthony Goldstein   Ravenclaw        89.0       87.0
Harry Potter       Gryffindor        88.0       90.0
Lisa Turpin         Ravenclaw        86.5       84.0
Michael Corner      Ravenclaw        85.5       86.5
Draco Malfoy        Slytherin        84.5       81.0
Susan Bones        Hufflepuff        84.0       83.5
Ron Weasley        Gryffindor        83.0       87.5
Hannah Abbott      Hufflepuff        80.5       84.5
Ernie Macmillan    Hufflepuff        77.5       85.0
Gregory Goyle       Slytherin        66.5       59.5
Vincent Crabbe      Slytherin        64.0       60.0

In [6]:
df.loc["Hermione Granger"]

House         Gryffindor
Potion_Ave         100.0
Charm_Ave          100.0
Name: Hermione Granger, dtype: object

#### reset_index() method
* resets the index
* promotes the current index into a column
* creates a default numbered index

In [7]:
df = df.reset_index()

In [8]:
df

              Student       House  Potion_Ave  Charm_Ave
0    Hermione Granger  Gryffindor       100.0      100.0
1   Anthony Goldstein   Ravenclaw        89.0       87.0
2        Harry Potter  Gryffindor        88.0       90.0
3         Lisa Turpin   Ravenclaw        86.5       84.0
4      Michael Corner   Ravenclaw        85.5       86.5
5        Draco Malfoy   Slytherin        84.5       81.0
6         Susan Bones  Hufflepuff        84.0       83.5
7         Ron Weasley  Gryffindor        83.0       87.5
8       Hannah Abbott  Hufflepuff        80.5       84.5
9     Ernie Macmillan  Hufflepuff        77.5       85.0
10      Gregory Goyle   Slytherin        66.5       59.5
11     Vincent Crabbe   Slytherin        64.0       60.0

In [9]:
#set multiple indices
df = df.set_index(["House", "Student"])

In [10]:
df

                              Potion_Ave  Charm_Ave
House      Student
Gryffindor Hermione Granger        100.0      100.0
Ravenclaw  Anthony Goldstein        89.0       87.0
Gryffindor Harry Potter             88.0       90.0
Ravenclaw  Lisa Turpin              86.5       84.0
           Michael Corner           85.5       86.5
Slytherin  Draco Malfoy             84.5       81.0
Hufflepuff Susan Bones              84.0       83.5
Gryffindor Ron Weasley              83.0       87.5
Hufflepuff Hannah Abbott            80.5       84.5
           Ernie Macmillan          77.5       85.0
Slytherin  Gregory Goyle            66.5       59.5
           Vincent Crabbe           64.0       60.0

In [ ]:
df = df.sort_index()

In [ ]:
df

* Multilevel indices are stored as a list of tuples:

In [ ]:
df.index

In [ ]:
df.index.values

### 1.1. Selecting Rows from a Hierarchically-Indexed DataFrame

In [ ]:
df.loc["Gryffindor"]

In [ ]:
df.loc["Gryffindor", "Harry Potter"]

In [ ]:
df.loc["Gryffindor"].describe()

In [ ]:
df.loc["Slytherin"].mean()

#### How would you modify the code snippet above to retrieve the mean score for Slytherin on Potion_Ave?

In [ ]:
#TODO in video

### 1.2. Selecting Multiple Rows
* When selecting multiple rows, provide a list of tuples corresponding to each row
    * e.g., if selecting two rows, provide a list of two tuples
        * Let's select Harry Potter and Draco Malfoy

In [ ]:
df.loc[[("Gryffindor", "Harry Potter"), ("Slytherin", "Draco Malfoy")]]

### 1.3. Selecting Multiple Rows with Specific Columns
* Specify the list of columns as a second argument to **.loc[rows, columns]**

In [ ]:
df.loc[[("Gryffindor", "Harry Potter"), ("Slytherin", "Draco Malfoy")], ["Potion_Ave"]]

<a id="2"></a>

## 2. Working with Missing Values in DataFrames
* Real-life datasets often contain missing values
* Need to do something about those missing values before analyzing the data

In [ ]:
dada = pd.read_csv("res/DADA.csv")

In [ ]:
dada

### Pandas and Missing Data
* Pandas automatically assigns **NaN**, "Not a Number", to missing values while reading a file
* By defaulty, empty cells are considered missing values, and hence, assigned NaN
* Can specify the missing value used to indicate missing data
    * use **na_values** keyword argument

In [ ]:
pd.read_csv("res/DADA_NA.csv")

In [ ]:
pd.read_csv("res/DADA_NA.csv", na_values = "-99")

### What to do with missing data?
* Filter out missing data
* Fill in missing data
* Ignore missing data

### 2.1. Filtering Out Missing Data
* The dropna() method allows you to drop rows and columns with missing data
* By default, dropna() drops any row containing a missing value

In [ ]:
dada

In [ ]:
dada_clean = dada.dropna()

In [ ]:
dada_clean

In [ ]:
dada

### 2.1.1. Filtering out empty rows
It appears that Row 12 is in the dataset by mistake.

**dropna(how = "all")** will only drop rows that are all NaN.
* If you want to drop columns in the same way, pass **axis=1**: **df.dropna(how="all", axis=1)**

In [ ]:
dada= dada.dropna(how="all")

In [ ]:
dada

* Alternatively, set skip_blank_lines=True when loading the dataset

In [ ]:
pd.read_csv("res/DADA_NA.csv", skip_blank_lines=True)

### 2.2. Filling In Missing Data
* Instead of filtering out missing data, you can fill in missing data with some other values.
* the **fillna()** method allows you to fill in missing data with specific values

In [ ]:
dada.fillna(0)

### Caution
* fillna returns a new DF
* If you want to update the original DF, set inplace=True
> ```python
dada.fillna(0, inplace = True)
```

### 2.2.1. Filling In a Different Value for Each Column
* Can fill in each column with a different value
* Pass in a dictionary containing column names as keys and desired NA values as values
    * **fillna(dictionary_of_values)**

In [ ]:
default_col_values = {"Expelliarmus": 0, "Stupefy": 0, "Protego": 0, 
                      "Accio": 0, "Petrificus Totalus": 0, "Expecto Patronum": ""}

In [ ]:
dada.fillna(default_col_values)

<a id="3"></a>

## 3. Working with Duplicates
* Sometimes datasets contain duplicates record, which you may want to discard

In [ ]:
dada

In [ ]:
dada = dada.append(dada.iloc[0])

In [ ]:
dada

### 3.1. duplicated() method
Returns a boolean Series indicating whether each row is a duplicated (whether it has been observed in a previous row)

In [ ]:
dada.duplicated()

### 3.2. drop_duplicates() method
* Returns a DataFrame where the duplicates have been dropped

In [ ]:
dada.drop_duplicates()

* You can also specify a subset of columns to detect duplicates.
* Pass in a list of column names as an argument to the **drop_duplicates()** method call.

In [ ]:
dada

In [ ]:
dada.drop_duplicates(["Student"])

* By default, both duplicated() and drop_duplicates() keep the first observed value combination. 
* If you want to keep the last value, pass in **keep="last"**

In [ ]:
dada

In [ ]:
dada.drop_duplicates(["Student"], keep="last")

<a id="4"></a>

## 4. Replacing Values
* Beyond filtering or fill in missing data, we can replace certain values with new values.
* **df.replace(current_value, new_value)**

In [ ]:
dada_NA = pd.read_csv("res/DADA_NA.csv")

In [ ]:
dada_NA

In [ ]:
dada_NA.replace(-99, "NaN") #numpy has a specific attribute for NaN: np.nan

In [ ]:
dada_NA

In [ ]:
dada_NA.replace("Drace Malfoy", "Draco Malfoy", inplace=True)

In [ ]:
dada_NA

* If you want to replace multiple values at once, pass a list and then the substitute value(s)

```python
dada_NA.replace([-99, -999], "NaN")
dada_NA.replace([-99, -999], ["NaN", 0])
dada_NA.replace({-99: "NaN", -999: 0})
```

<a id="5"></a>

## 5. Renaming Axis Indices
* Can rename rows and columns using the **rename()** method
* Use *column* and *index* keywords arguments
* Pass **inplace=True** if you want to modify the original df

In [ ]:
dada_NA = dada_NA.set_index("Student")

In [ ]:
dada_NA

In [ ]:
dada_NA = dada_NA.rename(index={"Harry Potter": "Harry", "Hermione Granger": "Hermione", "Ron Weasley": "Ron"})

In [ ]:
dada_NA