<center> <img src="https://yildirimcaglar.github.io/ds3000/ds3000.png"> </center>

<center> <h2> Data Wrangling </h2></center>

## Outline
1. <a href='#1'>DataFrame Columns</a>
2. <a href='#2'>Sorting a DataFrame</a>
3. <a href='#3'>Querying a DataFrame</a>
4. <a href='#4'>Data Cleaning Example</a>

## Data Wrangling
* Data does not always come in forms ready for analysis
* Data could be
    * wrong format
    * incorrect 
    * missing
* Data scientists can spend as much as 75% of their time preparing data before they begin their studies
* Called **data munging** or **data wrangling**

<a id="1"></a>

## 1. DataFrame Index Columns
* Use `set_index()` to set a column as the index column
* Returns a copy of the DataFrame!!!

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("res/hp_grades.csv")

In [3]:
df

         House            Student  PTest1  PTest2  CTest1  CTest2
0   Gryffindor       Harry Potter      89      87      91      89
1   Gryffindor   Hermione Granger     100     100     100     100
2   Gryffindor        Ron Weasley      86      80      86      89
3   Hufflepuff      Hannah Abbott      76      85      84      85
4   Hufflepuff        Susan Bones      86      82      87      80
5   Hufflepuff    Ernie Macmillan      73      82      90      80
6    Ravenclaw     Michael Corner      90      81      88      85
7    Ravenclaw  Anthony Goldstein      87      91      89      85
8    Ravenclaw        Lisa Turpin      84      89      82      86
9    Slytherin       Draco Malfoy      84      85      80      82
10   Slytherin      Gregory Goyle      67      66      55      64
11   Slytherin     Vincent Crabbe      65      63      56      64

In [4]:
df = df.set_index("Student")

In [5]:
df

                        House  PTest1  PTest2  CTest1  CTest2
Student
Harry Potter       Gryffindor      89      87      91      89
Hermione Granger   Gryffindor     100     100     100     100
Ron Weasley        Gryffindor      86      80      86      89
Hannah Abbott      Hufflepuff      76      85      84      85
Susan Bones        Hufflepuff      86      82      87      80
Ernie Macmillan    Hufflepuff      73      82      90      80
Michael Corner      Ravenclaw      90      81      88      85
Anthony Goldstein   Ravenclaw      87      91      89      85
Lisa Turpin         Ravenclaw      84      89      82      86
Draco Malfoy        Slytherin      84      85      80      82
Gregory Goyle       Slytherin      67      66      55      64
Vincent Crabbe      Slytherin      65      63      56      64

In [6]:
df.loc["Harry Potter"]

House     Gryffindor
PTest1            89
PTest2            87
CTest1            91
CTest2            89
Name: Harry Potter, dtype: object

### 1.1. Renaming Columns

In [7]:
df = df.rename(columns = {"PTest1": "Potion1", "PTest2":"Potion2", "CTest1":"Charm1", "CTest2":"Charm2"})

In [8]:
df

                        House  Potion1  Potion2  Charm1  Charm2
Student
Harry Potter       Gryffindor       89       87      91      89
Hermione Granger   Gryffindor      100      100     100     100
Ron Weasley        Gryffindor       86       80      86      89
Hannah Abbott      Hufflepuff       76       85      84      85
Susan Bones        Hufflepuff       86       82      87      80
Ernie Macmillan    Hufflepuff       73       82      90      80
Michael Corner      Ravenclaw       90       81      88      85
Anthony Goldstein   Ravenclaw       87       91      89      85
Lisa Turpin         Ravenclaw       84       89      82      86
Draco Malfoy        Slytherin       84       85      80      82
Gregory Goyle       Slytherin       67       66      55      64
Vincent Crabbe      Slytherin       65       63      56      64

### 1.2. Adding and Computing with Columns

In [9]:
df["Potion_Ave"] = (df["Potion1"] + df["Potion2"]) / 2

In [10]:
df

                        House  Potion1  Potion2  Charm1  Charm2  Potion_Ave
Student
Harry Potter       Gryffindor       89       87      91      89        88.0
Hermione Granger   Gryffindor      100      100     100     100       100.0
Ron Weasley        Gryffindor       86       80      86      89        83.0
Hannah Abbott      Hufflepuff       76       85      84      85        80.5
Susan Bones        Hufflepuff       86       82      87      80        84.0
Ernie Macmillan    Hufflepuff       73       82      90      80        77.5
Michael Corner      Ravenclaw       90       81      88      85        85.5
Anthony Goldstein   Ravenclaw       87       91      89      85        89.0
Lisa Turpin         Ravenclaw       84       89      82      86        86.5
Draco Malfoy        Slytherin       84       85      80      82        84.5
Gregory Goyle       Slytherin       67       66      55      64        66.5
Vincent Crabbe      Slytherin       65       63      56      64        64.0

In [11]:
df["Charm_Ave"] = (df["Charm1"] + df["Charm2"]) / 2

In [12]:
df

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

### 1.3. unique() method
* Returns an array of the unique values in a column

In [13]:
df["House"].unique()

array(['Gryffindor', 'Hufflepuff', 'Ravenclaw', 'Slytherin'], dtype=object)

<a id="2"></a>

## 2. Sorting a DataFrame
* Can sort a `DataFrame` by its rows or columns, based on their indices or values

### 2.1. Sorting by Indices
* sort_index() method
    * Does not modify the original dataframe
    * By default, sorts in ascending order
* Sort the rows by their *indices* in _descending_ order using **`sort_index`** and its keyword argument `ascending=False`

In [14]:
df.sort_index()

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

In [15]:
df.sort_index(ascending=False)

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0

### 2.2. Sorting by Column Indices
* Sort columns into ascending order (left-to-right) by their column names
* **`axis=1` keyword argument** indicates that we wish to sort the _column_ indices, rather than the row indices
    * `axis=0` (the default) sorts the _row_ indices

In [16]:
df.sort_index(axis = 1)

,Charm1,Charm2,Charm_Ave,House,Potion1,Potion2,Potion_Ave
Student,,,,,,,
Harry Potter,91,89,90.0,Gryffindor,89,87,88.0
Hermione Granger,100,100,100.0,Gryffindor,100,100,100.0
Ron Weasley,86,89,87.5,Gryffindor,86,80,83.0
Hannah Abbott,84,85,84.5,Hufflepuff,76,85,80.5
Susan Bones,87,80,83.5,Hufflepuff,86,82,84.0
Ernie Macmillan,90,80,85.0,Hufflepuff,73,82,77.5
Michael Corner,88,85,86.5,Ravenclaw,90,81,85.5
Anthony Goldstein,89,85,87.0,Ravenclaw,87,91,89.0
Lisa Turpin,82,86,84.0,Ravenclaw,84,89,86.5
Draco Malfoy,80,82,81.0,Slytherin,84,85,84.5
Gregory Goyle,55,64,59.5,Slytherin,67,66,66.5
Vincent Crabbe,56,64,60.0,Slytherin,65,63,64.0

### 2.3. Sorting by Column Values
* To view `Potion_Ave`s grades in descending order so we can see the students names in highest-to-lowest grade order, call method **`sort_values`**
* `by` and `axis` arguments work together to determine which values will be sorted
    * In this case, we sort based on the column values (`axis=1`) for `Potion_Ave`
    
* Does not modify the original DataFrame

In [17]:
df.sort_values(by="Potion_Ave", ascending=False)

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

In [18]:
df.sort_values(by="Charm_Ave", ascending=False)

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5

In [19]:
df

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

* Can sort by multiple columns
* Just pass in a list of column names

In [20]:
df.sort_values(by=["Charm_Ave", "Potion_Ave"], ascending=False)

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5

In [21]:
df.sort_values(by=["Potion_Ave", "Charm_Ave"], ascending=False)

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

In [22]:
#the original df remains "unsorted"
df

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

### 2.4. Copy vs. In-Place Sorting
* `sort_index` and `sort_values` return a _copy_ of the original `DataFrame`
* Could require substantial memory in a big data application
* Can sort _in place_ by passing the keyword argument `inplace=True`

In [23]:
df.sort_values(by=["Potion_Ave", "Charm_Ave"], ascending=False, inplace=True)

In [24]:
df

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

<a id="3"></a>

## 3. Querying a DataFrame

### 3.1. Boolean Indexing
* One of pandas more powerful selection capabilities is **Boolean indexing**
* Select all Potion_Ave grades that are greater than or equal to 85:

In [25]:
df["Potion_Ave"] >= 85

Student
Hermione Granger      True
Anthony Goldstein     True
Harry Potter          True
Lisa Turpin           True
Michael Corner        True
Draco Malfoy         False
Susan Bones          False
Ron Weasley          False
Hannah Abbott        False
Ernie Macmillan      False
Gregory Goyle        False
Vincent Crabbe       False
Name: Potion_Ave, dtype: bool

In [29]:
type(df["Potion_Ave"] >= 85)

pandas.core.series.Series

### 3.1.1 where() method
* Used to check a DataFrame for one or more condition and return the result accordingly. 
* By default, the rows not satisfying the condition are filled with NaN value.
* `df.where(cond, inplace)`

In [30]:
df85 = df.where(df["Potion_Ave"] >= 85)

In [31]:
df85

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100.0,100.0,100.0,100.0,100.0,100.0
Anthony Goldstein,Ravenclaw,87.0,91.0,89.0,85.0,89.0,87.0
Harry Potter,Gryffindor,89.0,87.0,91.0,89.0,88.0,90.0
Lisa Turpin,Ravenclaw,84.0,89.0,82.0,86.0,86.5,84.0
Michael Corner,Ravenclaw,90.0,81.0,88.0,85.0,85.5,86.5
Draco Malfoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Susan Bones,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ron Weasley,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hannah Abbott,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ernie Macmillan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gregory Goyle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vincent Crabbe,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df85 = df.where(df["Potion_Ave"] >= 85)

* Pandas checks every grade to determine whether its value is greater than or equal to 85 and, if so, includes it in the new `DataFrame`.
* Grades for which the condition is `False` are represented as **`NaN` (not a number)** in the new `DataFrame
* `NaN` is pandas notation for missing values
* Can change NaN using the other keyword argument.
* **where() returns a new DataFrame**
    * If you want to make sure the changes are reflected in the original df, use inplace=True

* Dropping NaN values from DataFrames

In [33]:
df85 = df85.dropna()

In [34]:
df85

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100.0,100.0,100.0,100.0,100.0,100.0
Anthony Goldstein,Ravenclaw,87.0,91.0,89.0,85.0,89.0,87.0
Harry Potter,Gryffindor,89.0,87.0,91.0,89.0,88.0,90.0
Lisa Turpin,Ravenclaw,84.0,89.0,82.0,86.0,86.5,84.0
Michael Corner,Ravenclaw,90.0,81.0,88.0,85.0,85.5,86.5

**where()** is optional:

In [35]:
df85 = df[df["Potion_Ave"] >= 85]
df85

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5

In [36]:
df85 = df[df["Charm_Ave"] >= 85]
df85

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0

#### Let's return a list of students whose average score is 85 or higher in **both** Potions and Charms
* Pandas Boolean indices combine multiple conditions with the Python operator `&` (bitwise AND), _not_ the `and` Boolean operator 
* For `or` conditions, use `|` (bitwise OR)
* Each boolean mask needs to be embraced in parentheses

In [37]:
#TODO in video
dfboth = df[(df.Potion_Ave >= 85)&(df.Charm_Ave >= 85)]
dfboth

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5

#### Let's return a list of students whose average score is 85 or higher in either Potions or Charms

In [38]:
#TODO in video
dfeither = df[(df.Potion_Ave >= 85)|(df.Charm_Ave >= 85)]
dfeither

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0

In [ ]:
df85

#### How would you modify the previous code snippet to retrieve a dataframe of students scoring greater (or equal to) than class average in both classes?

In [ ]:
#TODO in video

In [39]:
df["Potion_Ave"].mean()

82.41666666666667

In [40]:
df["Charm_Ave"].mean()

82.375

* Put these in the previous chained comparison expresion:
```python
df85 = df[(df["Potion_Ave"] >= 85) & (df["Charm_Ave"] >= 85)]
```

* Replace 85 with `df["Charm_Ave"].mean()` and `df["Potion_Ave"].mean()`

In [42]:
df85 = df[(df["Potion_Ave"] >= df.Charm_Ave.mean()) & (df["Charm_Ave"] >= df.Potion_Ave.mean())]
df85

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5


## 4. Data Cleaning Example
* No need to store the columns you are not going to use during analysis
* Can select a subset of columns and create a new DF containing those columns
* Then write this DF to a file

In [43]:
df

,House,Potion1,Potion2,Charm1,Charm2,Potion_Ave,Charm_Ave
Student,,,,,,,
Hermione Granger,Gryffindor,100,100,100,100,100.0,100.0
Anthony Goldstein,Ravenclaw,87,91,89,85,89.0,87.0
Harry Potter,Gryffindor,89,87,91,89,88.0,90.0
Lisa Turpin,Ravenclaw,84,89,82,86,86.5,84.0
Michael Corner,Ravenclaw,90,81,88,85,85.5,86.5
Draco Malfoy,Slytherin,84,85,80,82,84.5,81.0
Susan Bones,Hufflepuff,86,82,87,80,84.0,83.5
Ron Weasley,Gryffindor,86,80,86,89,83.0,87.5
Hannah Abbott,Hufflepuff,76,85,84,85,80.5,84.5
Ernie Macmillan,Hufflepuff,73,82,90,80,77.5,85.0
Gregory Goyle,Slytherin,67,66,55,64,66.5,59.5
Vincent Crabbe,Slytherin,65,63,56,64,64.0,60.0

In [44]:
columns_needed = ["House", "Potion_Ave", "Charm_Ave"]

In [45]:
final_df = df[columns_needed]

In [46]:
final_df

                        House  Potion_Ave  Charm_Ave
Student
Hermione Granger   Gryffindor       100.0      100.0
Anthony Goldstein   Ravenclaw        89.0       87.0
Harry Potter       Gryffindor        88.0       90.0
Lisa Turpin         Ravenclaw        86.5       84.0
Michael Corner      Ravenclaw        85.5       86.5
Draco Malfoy        Slytherin        84.5       81.0
Susan Bones        Hufflepuff        84.0       83.5
Ron Weasley        Gryffindor        83.0       87.5
Hannah Abbott      Hufflepuff        80.5       84.5
Ernie Macmillan    Hufflepuff        77.5       85.0
Gregory Goyle       Slytherin        66.5       59.5
Vincent Crabbe      Slytherin        64.0       60.0

In [47]:
final_df.to_csv("res/ave_grades.csv")

<a id="6"></a>